@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.header {
  height: 90px;
  display: flex;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 100;
}

.logo-container {
  color: black;
  margin: 20px;
  font-size: 1.7em;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.header__search-icon {
  padding: 5px;
  color: black;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__search-input {
  height: 20px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.44);
  width: 100%;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header__option {
  color: black;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.header__option-line-one {
  font-size: 14px;
}

.header__option-line-two {
  font-size: 16px;
  font-weight: 800;
}

.header__option-cart {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.header__cart-count {
  margin: 0 10px;
}

.header__option-cart-icon {
  /* font-size: 25px; */
}
